
<div class="peeek-loading">
  
<div class="waviy">
  <span style="--i:1">L</span>
  <span style="--i:2">O</span>
  <span style="--i:3">A</span>
  <span style="--i:4">D</span>
  <span style="--i:5">I</span>
  <span style="--i:6">N</span>
  <span style="--i:7">G</span>
  <span style="--i:8">.</span>
</div>

<ul>
  <ion-icon size="large" name="bicycle"></ion-icon>
  <ion-icon size="large" name="contacts"></ion-icon>
  <ion-icon size="large" name="finger-print"></ion-icon>
  <ion-icon size="large" name="happy"></ion-icon>
  <ion-icon size="large" name="heart"></ion-icon>
  <ion-icon size="large" name="help-circle"></ion-icon>
  <ion-icon size="large" name="medical"></ion-icon>
  <ion-icon size="large" name="medkit"></ion-icon>
  <ion-icon size="large" name="flame"></ion-icon>
  <ion-icon size="large" name="pulse"></ion-icon>
</ul>
<ion-fab  class="log1" vertical="center"  >
  <img src="../../../assets/image/angel beautiful white wings.png" alt="" srcset="">
</ion-fab >
</div>
