<ion-header class="ion-no-border">
        <ion-toolbar>
        </ion-toolbar>
    </ion-header>
    <ion-fab  class="log1" vertical="top"  >
        <img src="../../../assets/image/angel beautiful white wings.png" alt="" srcset="">
    </ion-fab >
    <ion-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content color="light">
                            <img src="../../../assets/image/tratoscope.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>MANAGE STAFF</ion-card-subtitle>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="../../../assets/image/patient.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>MANAGE PATIENTS</ion-card-subtitle>
                    </ion-card>
                </ion-col>
            </ion-row >
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="../../../assets/image/notification.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>COMPLAINS</ion-card-subtitle>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card (click)="charts()" >
                        <ion-card-content>
                            <img src="../../../assets/image/chart.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>ANALYTICS</ion-card-subtitle>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="../../../assets/image/wD.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>CONTACT STAFF</ion-card-subtitle>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card (click)="settings()" >
                        <ion-card-content>
                            <img src="../../../assets/image/chart.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>setting</ion-card-subtitle>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
 
    </ion-content>