

  
  <ion-content scrolly="false">
    <ion-card>
      <div class="register_logo">
        <ion-thumbnail  >
          <img src="../../../assets/image/lpic copy.png" alt="" srcset="">
        </ion-thumbnail>
      </div>
        <div class="container"  >
          <ion-card class="form" overflow-scroll="false">
            <div class="login_head">
              <p>
                <b>HELLO SIR<span class="exclam">/</span>MME PLEASE SELECT YOUR DEPARTMENT</b>
              </p>
              <ion-button class="nextA" expand="block" shape="round" size="medium">DOCTOR</ion-button>  
              <ion-button class="nextA" expand="block" shape="round" size="medium">NURSE</ion-button>    
              <ion-button class="nextA" expand="block" shape="round" size="medium">ACCOUNTANT</ion-button>  
              <ion-button class="nextA" expand="block" shape="round" size="medium">ADMINISTRATOR</ion-button>    
      
            </div>
    
    
     
          </ion-card>
        </div>
    </ion-card>

  </ion-content> 