<ion-app>
  <ion-router-outlet></ion-router-outlet>
      <div>
        <ion-split-pane contentId="main-content">
          <ion-menu class="menu-type-reveal" style="--width: {{drawerWidth}}px" side="start" menuId="main-menu" contentId="main-content" type="my-reveal" [maxEdgeStart]="platform.width()" >
            <div class="headerToolbar">
              <ion-avatar class="userImage" #userAvatar>
                <ion-img src="../assets/image/loginp.png" side="center" alt="User Image"></ion-img>
              </ion-avatar>
              <div class="nameContainer">
                <ion-label class="userName">Elad Daudet</ion-label>
              </div>
            </div>
            <div class="divider"></div>
            <ion-content>
              <ion-list class="ion-no-padding">
                <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" #drawerItemList >
                  <ion-item class="drawerItem" lines="none" detail="false" routerDirection="root" [routerLink]="p.url" (click)="onDrawerNavigate(p)" >
                    <ion-item class="drawerInnerItem" [style.--width]="rowWidth + 'px'" [style.--background]="activeTab === p.name ? 'rgba(255, 255, 255, 0.281)' : 'transparent'" lines="none"></ion-item>
                    <i *ngIf="!p.isAsset" [style.color]="activeTab === p.name ? 'rgb(33, 150, 243)' : 'var(--color-nearlyBlack)'" class="material-icons icon-margin" >
                       <ion-icon name= {{p.icon}} ></ion-icon>
                    </i>
                    <ion-img *ngIf="p.isAsset" style="width: 24px; height: 24px" class="icon-margin" [ngClass]="{'imgTintBlue': activeTab === p.name, 'imgTintBlack': activeTab !== p.name}"  [alt]="p.name" ></ion-img>
                    <ion-label style="font-weight: 500; font-size: 16px; margin-left: 8px" [style.color]="activeTab === p.name ? 'rgb(255,255,255)' : 'var(--color-nearlyBlack)'">
                      {{p.name}}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </ion-list>
            </ion-content>
        <div class="divider"></div>
        <ion-footer class="ion-no-border" >
          <ion-toolbar class="ion-no-padding" color="primary">
            <ion-item button="true" detail="false" lines="none">
              <ion-button class="logout" type="submit" (click)="authService.SignOut()" expand="block" >Logout</ion-button>
            </ion-item>
          </ion-toolbar>
        </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
        </ion-split-pane>
        <ion-fab >
          <ion-icon class="menu menu--back5 ion-activatable"   (click)="onMenuClick()" name="menu" [hidden]="isSplitPane" #menuIcon></ion-icon>
        </ion-fab>
      </div>
    </ion-app>