<ion-header class="ion-no-border">
        <ion-toolbar>
        </ion-toolbar>
      </ion-header>
      <ion-fab  class="log1" vertical="top"  >
        <img src="../../../assets/image/angel beautiful white wings.png" alt="" srcset="">
      </ion-fab >
      <ion-content color="dark">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-content >
                            <img src="../../../assets/image/notification.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>NOTIFICATIONS</ion-card-subtitle>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-card-content>
                            <img src="../../../assets/image/patient.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>SCHEDULES</ion-card-subtitle>
                    </ion-card>
                </ion-col>
            </ion-row >
            <ion-row>
                <ion-col>
                    <ion-card (click)="forum()">
                        <ion-card-content>
                            <img src="../../../assets/image/notification.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>PATIENTS FORUM</ion-card-subtitle>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card (click)="report()">
                        <ion-card-content>
                            <img src="../../../assets/image/chart.png" alt="" srcset="">
                        </ion-card-content>
                        <ion-card-subtitle>MEDICAL REPORT</ion-card-subtitle>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/image/wD.png" alt="" srcset="">
                      </ion-card-content>
                      <ion-card-subtitle>CONTACT STAFF</ion-card-subtitle>
                  </ion-card>
              </ion-col>
              <ion-col>
                  <ion-card>
                      <ion-card-content>
                          <img src="../../../assets/image/chart.png" alt="" srcset="">
                      </ion-card-content>
                      <ion-card-subtitle>REPOSITORY</ion-card-subtitle>
                  </ion-card>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <img src="../../../assets/image/wD.png" alt="" srcset="">
                    </ion-card-content>
                    <ion-card-subtitle>CONTACT PATIENT</ion-card-subtitle>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-content>
                        <img src="../../../assets/image/chart.png" alt="" srcset="">
                    </ion-card-content>
                    <ion-card-subtitle>SETTINGS</ion-card-subtitle>
                </ion-card>
            </ion-col>
        </ion-row>
        </ion-grid>
      </ion-content>