<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin-home"></ion-back-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-fab  class="log1" vertical="top"  >
    <img src="../../../assets/image/angel beautiful white wings.png" #img alt="" srcset="">
  </ion-fab >


<ion-content>
 <ion-card class="welcome-card">
      <div id="dynamicSpline" style="width:100%; height:200px;"></div>
  </ion-card>
  <ion-card class="Simpledonut">
      <div id="simpleDonut" style="width:100%; height:200px;"></div>
  </ion-card>
  <ion-card class="simpleBar">
      <div id="highcharts" style="width:100%; height:200px;"></div>
    </ion-card>


 

</ion-content>